{% extends "layout.html" %}
{% block page_title %}Contact{% endblock %}
{% block body %}
<div class="section" id="the-debian-janitor">
<h1>The Debian Janitor</h1>
<p>The Debian janitor is a project to automatically make changes to Debian
packages.</p>

<p>It finds VCS repositories associated with packages in the Debian archive, runs a
set of predefined operations on them, builds the resulting package and then
publishes the result (both as a VCS repository and as a Debian package).
</p>

<p>The overall goal is to reduce the manual effort that is needed
to maintain a Debian package, allowing maintainers to just click <em>Merge</em>
in a web UI and allowing users to try out newer upstream versions of packages
without the involvement of the maintainer.</p>

<h2>For Developers</h2>
<ul>
  <li><a href="lintian-fixes">Fixes for common issues reported by Lintian</a></li>
</ul>

<h2>For Users</h2>
<ul>
  <li><a href="fresh-releases">Packages of new upstream releases</a></li>
  <li><a href="fresh-snapshots">Packages of new upstream snapshots</a></li>
</ul>

</div>
{% endblock %}
